<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= htmlWebpackPlugin.options.campaignTitle %></title>
    <meta
      name="description"
      content="<%= htmlWebpackPlugin.options.campaignDescription %>"
    />
    <meta name="author" content="Amazon Advertising" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div id="<%= htmlWebpackPlugin.options.customId %>"></div>
  </body>
</html>
